.post-container {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 10px;
  will-change: filter;
  transition: filter 300ms;
}
.post-container:hover {
  box-shadow: 2px 2px 2px;
}
.post-container.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.post-content {
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-footer {
  align-self: flex-end;
}
